<section class="hero is-dark is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="title has-text-centered">
            <p>Welcome to Pear Blossom</p>
            <%= image_tag('bg.jpg', alt: "Pear Blossom")%>
        </div>
    </div>
</section>

