<div class="container">
    <h1 class="has-text-black">About</h1>
    <div class="content has-text-light">
        <p>Offering garden views, Pear Blossoms Home Stay in Matiāna offers accommodations, a restaurant, a shared lounge, a garden and a terrace. The lodge features both WiFi and private parking free of charge. A patio with mountain views is offered in each unit.</p>
        <p>Kūfrī is 9.3 mi from Pear Blossoms Home Stay, while Nārkanda is 6.8 mi away. The nearest airport is Shimla Airport, 19 mi from the accommodations.</p>
        <p>We speak your language! </p>
        <hr>
        <p class="has-text-grey-light">Pear Blossom, Baila Theog, Shimla District, 171212 Matiāna, India</p>
        <p class="has-text-grey-light">Contact: <br>Phone: 7018658570<br>email: ceelxx@gmail.com</p>
    </div>
</div>